#Environment & Dependencies
env/
venv/
.venv/

#Environment Variables & Secrets
.env

#Python Cache & Compiled Files
__pycache__/
*.pyc

#IDE & System Files
.vscode/
.idea/
.DS_Store

#Large Data Files / Out-of-memory artifacts
*.csv
*.xlsx
*.sqlite3
data/raw/
#Exceptions
!important.log